
<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          <ion-title><span style="color:rgb(113, 198, 255)">Personnalisation</span></ion-title>
        </ion-navbar>
      </ion-header>
      
    <ion-content>
          <h2>Personnaliser vos propres tenues</h2>
          <ion-grid>
                <ion-list radio-group [(ngModel)]="autoSexe">
                    Sexe
                        <ion-item>
                            <ion-label>Homme</ion-label>
                            <ion-radio value="homme" checked></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Femme</ion-label>
                            <ion-radio value="femme"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Enfant</ion-label>
                            <ion-radio value="enfant"></ion-radio>
                        </ion-item>    
                </ion-list>
              <ion-row>
                <ion-col col-12 id="corps">  
                vêtement de haut:
                    <ion-card>
                            <ion-slides pager>
                                <div id="categ" *ngFor="let element of articles">
                                    <ion-slide >
                                        <ion-img [width]="175" id="slides1" [height]="175" src="../../assets/imgs/{{ element.image }}"></ion-img>
                                    </ion-slide>
                                </div>
                            </ion-slides>
                    </ion-card>
                vêtement de bas:
                    <ion-card>
                            <ion-slides pager>
                                    <div id="categ" *ngFor="let element of articles2">
                                            <ion-slide >
                                                <ion-img [width]="175" id="slides1" [height]="175" src="../../assets/imgs/{{ element.image }}"></ion-img>
                                            </ion-slide>
                                    </div>
                            </ion-slides>
                    </ion-card>
                <button ion-button class="center" clear>Enregistrer</button>
                </ion-col>
              </ion-row>
          </ion-grid>
            
      
    </ion-content>